.btn {
  padding: 8px 20px;
  line-height: 1.4;
  border-radius: 50rem;
  font-weight: $font-weight-bold;
}

.py-button {

  min-width: 100px;

  &:not([class="is-disabled"]),
  &:not(:disabled) {
    background: $btn-bg-color;
    color: $btn-text-color;
    border-radius: 500px;
    border: 1px solid $btn-bg-color;

    &:hover {
      background: rgba($primary, .2);
      color: $primary;
      border-color: transparent;
    }

    &:focus,
    &:active,
    &:visited {
      color: $primary !important;
      background: rgba($primary, .2) !important;
      border-color: $primary !important;
      box-shadow: 0 0 .3rem rgba($primary, .3) !important;
    }
  }
}

.btn--narrow {
  min-width: auto;
  padding: 8px 11px;
}

.btn-primary,
.btn-primary.dropdown-toggle {
  background: $primary;
  border-color: $primary;
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white !important;
    background: darken($primary, 5%) !important;
    border-color: darken($primary, 5%) !important;
    box-shadow: 0 0 0 0.2rem rgba($primary, .5) !important;
  }
}


.py-btn__text {
  font-weight: $font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}

.btn-outline-primary {
  border-color: $gray-200;
  color: $black;
  background: none;

  &:hover {
    border-color: $primary;
    color: $primary;
    background: rgba($primary, .1);
  }

  &:focus,
  &:active {
    border-color: $primary;
    background: none;
    color: $primary;
    box-shadow: 0 0 0 4px rgba($primary, .2);
  }
}

.btn-outline-secondary {
  border-color: $gray-200;
  background: transparent;

  &:hover {
    background: none;
    color: $black;
  }

  &:focus {
    border: 1px solid $primary;
    box-shadow: 0 0 0 3px rgba($primary, .2);
    background: none;
  }

  &.btn-danger {
    border-color: $gray-200;
    background: transparent;

    &:hover {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }
  }
}


.btn-outline-danger {
  border: 1px solid $gray-200;
  color: $gray-600;

  &:hover {
    color: $white;
    fill: $white;
  }
}

.py-btn__action__primary {
  display: inline-flex;
  padding: 0;
  margin: 4px;
  background: #ECF0F3;

  .btn {
    color: $white;
    background: $primary;
    border-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    &:hover {
      background: darken($primary, 5%);
    }
  }

  .py-btn__action {
    all: unset;

    &.show {
      .dropdown-toggle {
        background: darken($primary, 5%);
      }
    }


  }

  .dropdown-toggle {
    border: 1px;
    padding: 8px 0 8px 0;
    border-radius: 0;
    width: 36px;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 1px solid $gray-100;

    &:hover,
    &:focus {
      background: darken($primary, 5%);
      color: $white;
    }

    &:after {
      margin: 0;
    }


  }
}

.py-btn--google,
.py-btn--yahoo {
  border-radius: 100px;
  position: relative;
  padding-left: 50px;
  color: $white;

  &:before {
    content: '';
    width: 2rem;
    background: $white url('https://dmrokfxvkn5v8.cloudfront.net/15.1.1/images/social-auth-icon--google.svg') no-repeat center center;
    height: 2rem;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50px;
  }

  &:hover {
    color: $white;
  }
}

.py-btn--google {
  background: #4285f4;
  border: 1px solid #4285f4;
}

.py-btn--yahoo {
  background: #410093;
  border: 1px solid #410093;

  &:before {
    background-image: url('https://dmrokfxvkn5v8.cloudfront.net/15.1.1/images/social-auth-icon--yahoo.svg');
  }

}

.btn-icon {
  border-radius: 50rem;
  padding: 0;
  min-width: 32px;
  padding: 3px 0;
  vertical-align: middle;

  svg {
    position: relative;
    margin-right: 0;
    width: 20px;
    height: 20px;
  }
}

.dropdown {
  display: inline-block;
}


.btn-danger {
  color: $white;
}